@tailwind base;
@tailwind components;
@tailwind utilities;

#tree {
  font-family: monospace;
  height: 100vh;
  margin: 0;
  min-width: 0;
  outline-width: 0;
  overflow-y: auto;
  padding: 30px;
  resize: none;
  width: 100%;
  white-space: pre-wrap;
}

.my-glsf-style {
  @apply prose;
}

.my-glsf-style img {
  @apply object-contain;
}

.my-glsf-style .media-container .row {
  @apply grid grid-flow-col auto-cols-max;
}
