@tailwind base;
@tailwind components;
@tailwind utilities;

#tree {
  font-family: monospace;
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
  resize: none;
  width: 100%;
  white-space: pre-wrap;
}


.my-glsf-style {
  @apply prose;
}

.my-glsf-style img {
  @apply inline;
  margin: 0;
}

.my-glsf-style .media-container {}

.my-glsf-style .media-container div {
  text-align: center;
}

.my-glsf-style .media-container .layout-1-2 {
  @apply grid grid-cols-2 grid-rows-2 items-stretch place-items-stretch gap-4;
}

.my-glsf-style .media-container .layout-1-2 .item-1 {
  @apply col-span-2;
}

.my-glsf-style .media-container .layout-2x2 {
  @apply grid grid-cols-2 grid-rows-2 gap-4;
}
